<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p class="styled-links">A small weather forecast app written in Node.js and handlebars that uses the <a target="_blank" href="https://www.mapbox.com/">mapbox</a> and <a target="_blank" href="https://weatherstack.com/">weatherstack</a> APIs. </p>
    </div>

    {{>footer}}
  </body>
</html>
